<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magebit_abandonedcart>
            <general>
                <enabled>0</enabled>
                <sender_email>sales</sender_email>
                <unsubscribe_route>abandonedcart/unsubscribe</unsubscribe_route>
            </general>
            <stages>
                <stage_1>
                    <delay_minutes>60</delay_minutes>
                    <template>magebit_abandonedcart_stage_1</template>
                </stage_1>
                <stage_2>
                    <delay_minutes>1440</delay_minutes>
                    <template>magebit_abandonedcart_stage_2</template>
                </stage_2>
                <stage_3>
                    <delay_minutes>4320</delay_minutes>
                    <template>magebit_abandonedcart_stage_3_with_coupon</template>
                    <coupon_ttl_hours>168</coupon_ttl_hours>
                </stage_3>
            </stages>
            <low_stock>
                <enabled>0</enabled>
                <threshold_qty>5</threshold_qty>
                <template>magebit_abandonedcart_low_stock_urgency</template>
                <coupon_ttl_hours>48</coupon_ttl_hours>
                <frequency_cap_hours>24</frequency_cap_hours>
            </low_stock>
            <brand_voice>
                <tone>friendly</tone>
                <locale>en_US</locale>
            </brand_voice>
            <gemini_api>
                <enable_ai>0</enable_ai>
                <model>gemini-2.5-flash</model>
                <request_timeout_seconds>30</request_timeout_seconds>
            </gemini_api>
        </magebit_abandonedcart>
    </default>
</config>
